<div class="page-wrapper">
  <div class="nav-wrapper">
    <nav class="navbar">
      <a href="/"><!--<p>Ghat Foundation</p>--><img src="../../assets/images/Logo.png" alt="Company Logo" /></a>
      
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search">
        <li class="nav-item nav-with-sub"><a href="#">Home</a></li>
        <li class="nav-item nav-with-sub"><a href="#about-section">About Us</a></li>
        <li class="nav-item nav-with-sub"><a href="#westriveto">We Strive To</a></li>
        <li class="nav-item nav-with-sub"><a href="#ouraim">Our Aim</a></li>
        <li class="nav-item nav-with-sub"><a href="#ourservices">Our Services</a></li>
        <li class="nav-item nav-with-sub"><a href="#contact-section">Contact Us</a></li>

        <!--<li class="nav-item nav-with-sub">
          <a href="services"
            >Our Services<img
              src="../../assets/images/down-arrow.png"
              alt="arrow"
          /></a>
          <section class="sub-nav-item" style="transform: translateX(-200px)">
            <section
              style="display: flex; justify-content: space-around; width: 600px"
            >
              <div>
                <div class="sub-nav-text-icon">
                  <img
                    src="../../../assets/Logos/dropdowns/coservices.png"
                    alt=""
                  />
                  <p>Co Location Services:</p>
                </div>
                <ul>
                  <li><a href="services#RackSpace">Rack space</a></li>
                  <li>
                    <a href="services#DedicatedServerHall"
                      >Dedicated server hall/suite</a
                    >
                  </li>
                  <li>
                    <a href="services#DedicatedServerFloorSpace"
                      >Dedicated server floor space</a
                    >
                  </li>
                  <li>
                    <a href="services#ServerRackCage">Server rack cage</a>
                  </li>
                </ul>
              </div>
              <div>
                <div class="sub-nav-text-icon">
                  <img
                    src="../../../assets/Logos/dropdowns/otherService.png"
                    alt=""
                  />
                  <p>Other Services:</p>
                </div>
                <ul>
                  <li><a href="services#smartHands">Smart Hands</a></li>
                  <li>
                    <a href="services#secureOfficeSpace">Secure Office Space</a>
                  </li>
                  <li>
                    <a href="services#valueAddedService"
                      >Value-Added Services</a
                    >
                  </li>
                </ul>
              </div>
            </section>
          </section>
        </li>-->
      </ul>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
