<div class="site-wrap" id="home-section" style="overflow-x: hidden;">
  <!--<div class="owl-carousel slide-one-item">
      
      <div class="site-section-cover overlay img-bg-section" style="background-image: url('../../assets/images/01\ About\ Us-1.png'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center">
              <h1>Investing for Success</h1>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minima quasi quisquam, alias doloremque magni.</p>
              <p><a href="#" class="btn btn-white-outline border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>

      </div>-->

  <div
    class="site-section-cover overlay img-bg-section"
    style="background-image: url('../../assets/images/Main.png')"
  >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-lg-7 text-center main-content">
            <img src="../../assets/images/Logo2.png" alt="" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
              <!--<h1>Investing for Success</h1>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minima quasi quisquam, alias doloremque magni.</p>
              <p><a href="#" class="btn btn-white-outline border-w-2 btn-md">Get in touch</a></p>-->
            </div>
      </div>
    </div>

    <!--<div class="site-section-cover overlay img-bg-section" style="background-image: url('../../assets/images/hero_2.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center">
              <h1>Investment Consulting</h1>      
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minima quasi quisquam, alias doloremque magni.</p>    
              <p><a href="#" class="btn btn-white-outline border-w-2 btn-md">Get in touch</a></p>
            </div>
          </div>
        </div>
      </div>-->
  </div>

  <!--<div class="pb-5" style="position: relative; z-index: 2;">
      <div class="container">
        <div class="row" style="margin-top: -50px;">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/images/img_1.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="text-primary h4 mb-2">Business Analytics</h3>
            <p>Accusantium dignissimos voluptas rem consequatur ratione illo sit quasi.</p>
            <p><a href="#">Read more</a></p>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/images/img_2.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="text-primary h4 mb-2">Investment Solutions</h3>
            <p>Praesentium magnam pariatur quae necessitatibus eligendi voluptate ducimus.</p>
            <p><a href="#">Read more</a></p>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/images/img_3.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="text-primary h4 mb-2">Individual Approach</h3>
            <p>Accusantium dignissimos voluptas rem consequatur ratione illo sit quasi.</p>
            <p><a href="#">Read more</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-5" id="investors-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="block-heading-1">
              <h2>Our Investors</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3">
            <img src="../../assets/images/ac-nc-67336.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../../assets/images/creyf-s.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../../assets/images/showa-3.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../../assets/images/trimble-2.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>-->

  <div class="site-section" id="about-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 mb-4">
          <div class="aboutPic" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <img src="../../assets/images/about.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" style="text-align: justify;">
          <h2 class="text-primary mb-4" style="color: rgb(0, 0, 119)">
            The Ghat Foundation
          </h2>
          <p>
            The <b>Ghat Foundation</b> is a non-profit company named after the
            integral 'ghats' that serve as lifelines connecting the people of
            the Gangetic Belt with the holy river Ganga.
            <br />
            <b>Ghats</b> - the steps leading down to the river- are the nerve
            centers of cultural, religious, and economic life along the Ganges,
            hosting everything from daily rituals and grand festivals to local
            trade and livelihood activities.
            <br />
            Mirroring the role of these ghats, the Ghat Foundation endeavors to
            establish a connective, resilient, and harmonious relationship
            between the river, its surrounding environment, and the communities
            that rely on them.
          </p>
          <p><a href="#">Read More</a></p>
        </div>
      </div>

      <div class="row mb-5" id="westriveto">
        <div class="col-12">
          <div class="block-heading-1">
            <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">We Strive To..</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 col-lg-0 col-lg-4">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <span class="number"><span>01</span></span>
            <span class="caption">Bolster community resilience</span>
          </div>
        </div>
        <div class="col-md-6 mb-4 col-lg-0 col-lg-4">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
            <span class="number"><span>02</span></span>
            <!--data-number="2"-->
            <span class="caption"
              >Facilitate sustainable andrespectful livelihoods</span
            >
          </div>
        </div>
        <div class="col-md-6 mb-4 col-lg-0 col-lg-4">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900">
            <span class="number"><span>03</span></span>
            <span class="caption"
              >Rejuvenate andpreserve the unique art, culture, and traditions of
              the Gangetic Belt.</span
            >
          </div>
        </div>
        <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200">
          Through a blend of environmental conservation, socioeconomic
          development, educational outreach, and cultural promotion, we strive
          to embody the spirit of the ghats as connectors — bridging the past
          and the future, humans and nature, tradition and innovation.
        </p>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" id="services-section">
    <div class="container" id="ouraim">
      <div class="row mb-5">
        <div class="col-12">
          <div class="block-heading-1">
            <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">Our Aim..</h2>
          </div>
        </div>
      </div>
      <div class="row" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <div class="col-lg-5 ml-auto" style="text-align: justify">
          <p>
            Underlying our endeavors is the principle of environmental justice.
            We believe in the equitable distribution of environmental benefits,
            the fair allocation of environmental burdens, and the
            inclusiveparticipation of all community members in environmental
            decision-making. In this way, we hope to mirror theghats' inclusive
            spirit.
            <br />
            Through these efforts, the Ghat Foundation aims to cultivate a
            symbiotic relationship between the river anditspeople — a
            relationship that sustains andenriches life along the Ganges, just
            as the ghats havedone for millennia.
            <br />
            Like these timeless riverside platforms, we strive to be a place of
            connection, community, and mutual care, supporting the Ganges and
            itspeople today, tomorrow, and for generations to come.
          </p>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="aboutPic" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
            <img src="../../assets/images/Aim.jpg" alt="" />
          </div>
        </div>

        <!--<div class="col-md-6 col-lg-4 mb-4">
          <span
            class="icon-signal d-block mb-3 display-3 text-secondary"
          ></span>
          <h3 class="text-primary h4 mb-2">Business Analytics</h3>
          <p>
            Accusantium dignissimos voluptas rem consequatur ratione illo sit
            quasi.
          </p>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <span
            class="icon-anchor d-block mb-3 display-3 text-secondary"
          ></span>
          <h3 class="text-primary h4 mb-2">Investment Solutions</h3>
          <p>
            Praesentium magnam pariatur quae necessitatibus eligendi voluptate
            ducimus.
          </p>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <span
            class="icon-magnet d-block mb-3 display-3 text-secondary"
          ></span>
          <h3 class="text-primary h4 mb-2">Individual Approach</h3>
          <p>
            Accusantium dignissimos voluptas rem consequatur ratione illo sit
            quasi.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <span
            class="icon-briefcase d-block mb-3 display-3 text-secondary"
          ></span>
          <h3 class="text-primary h4 mb-2">Business Analytics</h3>
          <p>
            Accusantium dignissimos voluptas rem consequatur ratione illo sit
            quasi.
          </p>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <span class="icon-money d-block mb-3 display-3 text-secondary"></span>
          <h3 class="text-primary h4 mb-2">Investment Solutions</h3>
          <p>
            Praesentium magnam pariatur quae necessitatibus eligendi voluptate
            ducimus.
          </p>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <span
            class="icon-umbrella d-block mb-3 display-3 text-secondary"
          ></span>
          <h3 class="text-primary h4 mb-2">Individual Approach</h3>
          <p>
            Accusantium dignissimos voluptas rem consequatur ratione illo sit
            quasi.
          </p>
        </div>
      </div>
    </div>-->
      </div>

      <div class="row mb-5" id="ourservices">
        <div class="col-12">
          <div class="block-heading-1">
            <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">Our Services..</h2>
          </div>
        </div>
      </div>
      <p>
        We collaborate and co create solutions to the most challenging problems
        of the Gangetic Belt through:
      </p>
      <div class="row">
        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <span class="number"
              ><img src="../../assets/images/research.png" alt=""
            /></span>
            <span class="caption">Evidence Based Research</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
            <span class="number"
              ><img src="../../assets/images/collaborate.png" alt=""
            /></span>
            <span class="caption">Building Strategic Partnerships</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900">
            <span class="number"
              ><img src="../../assets/images/solutions.png" alt=""
            /></span>
            <span class="caption">Designing Solutions</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200">
            <span class="number"
              ><img src="../../assets/images/strategy.png" alt=""
            /></span>
            <span class="caption">Channeling Implementation Strategies</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500">
            <span class="number"
              ><img src="../../assets/images/solutions.png" alt=""
            /></span>
            <span class="caption">Scalingup of Solutions</span>
          </div>
        </div>
      </div>
      <br />
      <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">We Work With..</h2>
      <div class="row" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1">
            <span class="number"
              ><img src="../../assets/images/charity.png" alt=""
            /></span>
            <span class="caption">Non Profits/CBOs</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1">
            <span class="number"
              ><img src="../../assets/images/government.png" alt=""
            /></span>
            <span class="caption">Government Organisations</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1">
            <span class="number"
              ><img src="../../assets/images/corporate.png" alt=""
            /></span>
            <span class="caption">Industry/ Corporate</span>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
          <div class="block-counter-1">
            <span class="number"
              ><img src="../../assets/images/crowdfunding.png" alt=""
            /></span>
            <span class="caption">Investors/Donor Organisations</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <div class="block-heading-1" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <span>Get In Touch</span>
            <h2>Contact Us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5">
          <div class="contactPic" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <img src="../../assets/images/Contact.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-4 ml-auto" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
          <h2 class="text-black">
            Need to know more on details? Call Us
            <a href="tel://9971303538">+91 9971303538</a> or
            <a href="tel://9730595180">+91 9730595180</a>
          </h2>
          <p>
            or Email at
            <a href="mailto:contact@ghatfoundation.org"
              >contact@ghatfoundation.org</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>
                The Ghat Foundation is a non-profit company named after the
                integral 'ghats' that serve as lifelines connecting the people
                of the Gangetic Belt with the holy river Ganga.
              </p>
            </div>
            <div class="col-md-4 ml-auto">
              <h2 class="footer-heading mb-4">Features</h2>
              <ul class="list-unstyled">
                <li><a href="#about-section">About Us</a></li>
                <li><a href="#westriveto">We Strive To</a></li>
                <li><a href="#ouraim">Our Aim</a></li>
                <li><a href="#ourservices">Our Services</a></li>
                <li><a href="#contact-section">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="mb-5">
            <div class="mb-5">
              <h2 class="footer-heading mb-4">Sole Aim</h2>
              <p>
                Underlying our endeavors is the principle of environmental
                justice. We believe in the equitable distribution of
                environmental benefits, the fair allocation of
                environmental burdens, andthe inclusive participation of all
                community members in environmental decision-making. In this way,
                we hope to mirror the ghats' inclusive spirit.
              </p>
            </div>

            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#" class="pr-3 socialIcon"
              ><img src="../../assets/images/social/facebook.png" alt=""
            /></a>
            <a href="#" class="pl-3 pr-3 socialIcon"
              ><img src="../../assets/images/social/instagram.png" alt=""
            /></a>
            <a href="#" class="pl-3 pr-3 socialIcon"
              ><img src="../../assets/images/social/linkedin.png" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | Ghat Foundation
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
